<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.IBookTypeInfoMapper">
	<!-- 查找所有图书类型 -->
	<select id="getBookTypeList" resultType="bookType">
		select * from bookTypeInfo 
	</select>
</mapper>